<div id="disqus_thread"></div>
<script data-cfasync="false" type="text/javascript">
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    if (typeof disqus_config !== 'undefined') {
        var _old_disqus_config = disqus_config;
    }
    var disqus_config = function() {
        if (typeof _old_disqus_config !== 'undefined') {
            _old_disqus_config.apply(this);
        }
        this.page.url = '{{ disqusUrl }}';
        this.page.identifier = '{{ disqusIdentifier }}';
        this.page.title = '{{ disqusTitle }}';
        this.page.category_id = '{{ disqusCategoryId }}';
        this.language = '{{ disqusLanguage }}';
        {% if useSSO -%}
        this.page.remote_auth_s3 = '{{ message }} {{ hmac }} {{ timestamp }}';
        this.page.api_key = '{{ disqusPublicKey }}';
        {% if useCustomLogin -%}
        this.sso = {
            name:   "{{ loginName }}",
            button: "{{ loginButton }}",
            icon:   "{{ loginIcon }}",
            url:    "{{ loginUrl }}",
            logout: "{{ loginLogoutUrl }}",
            width:  "{{ loginWidth }}",
            height: "{{ loginHeight }}"
        };
        {% endif -%}
        {% endif -%}

    };
    // Lazy load the Disqus JavaScript as per https://www.samclarke.com/lazy-loading-disqus/
    (function (doc, win) {
        var script;
        var isLoaded;
        var element;
        var eventCallback;
        var threashold = win.innerHeight * .75;

        if (element) {
            addEventListener('scroll', eventCallback);
            addEventListener('resize', eventCallback);
        }

        function throttle(fn, delay) {
            var lastCalled = 0;
            var timeout;

            return function () {
                var now = +new Date;
                var remaining = delay - (now - lastCalled);
                var args = arguments;

                clearTimeout(timeout);

                if (remaining > 0) {
                    timeout = setTimeout(function () {
                        lastCalled = now;
                        fn.apply(null, args);
                    }, remaining);
                } else {
                    lastCalled = now;
                    fn.apply(null, args);
                }
            };
        }

        function isPassedThreashold() {
            var top = element.getBoundingClientRect().top;
            return top - win.innerHeight <= threashold;
        }

        function lazyLoad() {
            if (!isLoaded && isPassedThreashold()) {
                removeEventListener('scroll', eventCallback);
                removeEventListener('resize', eventCallback);

                script = doc.createElement('script');
                script.async = true;
                script.src = '//{{ disqusShortname }}.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
                script.setAttribute('data-timestamp', +new Date());

                element.innerHTML = 'Loading comments...';

                (doc.head || doc.body).appendChild(script);

                isLoaded = true;
            }
        }

        win.disqusLazy = function (opts) {
            opts = opts || {};
            eventCallback = throttle(lazyLoad, opts.throttle || 100);
            element = opts.element || doc.getElementById('disqus_thread');
            threashold = opts.threashold || win.innerHeight * .75;

            if (element) {
                addEventListener('scroll', eventCallback);
                addEventListener('resize', eventCallback);
            }
        };
    }(document, window));
    disqusLazy();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
